audacity
blender
.cache
cookie
current
custom.el
database
dconf
.dots
dunstrc.d
eln-cache
elpa
GIMP
gitlab*
*.gpg
.history
hub
inkscape
known_hosts
.local/share/calcurse
.local/share/fonts
.local/share/icons
.local/share/lf
.local/share/newsboat
.local/share/nvim
.local/share/task
.local/share/taskwarrior-tui
.local/share/vulkan
.local/share/xorg
.local/share/zathura
*log
mozilla
nimble
password-store
pid
.pki
private-keys*
pubring*
random_seed
shrc
*.sql
state
.steam*
Steam
systemd
The Elder*
tree-sitter
.Xauthority
*.xbel
.zcompdump
zplug
zshdirrc
