__pycache__
.dots
.Xauthority
.java/
.steam/
.steampath
.steampid
.cache/
.mono/
.mozilla/
.pki/
.gnupg/crls.d/
.gnupg/openpgp-revocs.d/
.gnupg/private-keys-v1.d/
.gnupg/pubring.kbx
.gnupg/pubring.kbx~
.gnupg/random_seed
.gnupg/trustdb.gpg
.ssh/githubkey
.ssh/githubkey.pub
.ssh/gitlabkey
.ssh/gitlabkey.pub
.ssh/codebergkey
.ssh/codebergkey.pub
.ssh/known_hosts
.ssh/known_hosts.old
.venv/
hub/
.pulse-cookie
.config/audacity/
.config/blender/
.config/cef_user_data/
.config/dconf/
.config/emacs/.org-id-locations
.config/emacs/auto-saves/
.config/emacs/backups/
.config/emacs/abbrev_defs
.config/emacs/custom.el
.config/emacs/early-init.el
.config/emacs/elpa/
.config/emacs/init.el
.config/emacs/logo/
.config/emacs/places
.config/emacs/recentf
.config/emacs/transient/
.config/emacs/tree-sitter/
.config/emacs/var/
.config/fontforge/
.config/GIMP/
.config/go/
.config/ibus/
.config/lf/shrc
.config/Meltytech
.config/mozilla/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/playlists/
.config/mpd/state
.config/mpd/sticker.sql
.config/ncmpcpp/error.log
.config/newsboat/error.log
.config/nimble/
.config/nvim/lazy-lock.json
.config/pitivi/
.config/pulse/
.config/QtProject.conf
.config/qutebrowser/bookmarks/
.config/qutebrowser/quickmarks
.config/shell/shrc
.config/shell/zshdirrc
.config/Signal/
.config/spotify/
.config/systemd/
.config/transmission-daemon/bandwidth-groups.json
.config/transmission-daemon/dht.dat
.config/transmission-daemon/resume
.config/transmission-daemon/stats.json
.config/transmission-daemon/torrents/
.config/tremc/history.json
.config/tmux/plugins/
.config/unity3d/
.config/zsh/zplug/
.config/zsh/.history
.config/zsh/.zcompdump
.local/downloads/
.local/drafts/
.local/lib/
.local/notes/
.local/olds/
.local/orgdata/
.local/podcast/
.local/projects/
.local/review/
.local/screenshot/
.local/share/applications/steam.desktop
.local/share/audacity/
.local/share/calcurse/
.local/share/cargo/
.local/share/delta/
.local/share/fonts/
.local/share/gnupg/crls.d/
.local/share/gnupg/private-keys-v1.d/
.local/share/gnupg/pubring.kbx
.local/share/gnupg/pubring.kbx~
.local/share/gnupg/random_seed
.local/share/gnupg/trustdb.gpg
.local/share/go/
.local/share/icons/
.local/share/lf/
.local/share/man/
.local/share/Meltytech
.local/share/newsboat/
.local/share/node_modules/
.local/share/npm/
.local/share/nvim/
.local/share/password-store/
.local/share/qtile/
.local/share/qutebrowser/
.local/share/spotify-launcher/
.local/share/Steam/
.local/share/task/
.local/share/taskwarrior-tui/
.local/share/Terraria/
.local/share/tmux/
.local/share/vulkan/
.local/share/xorg/
.local/share/recently-used.xbel
.local/share/zathura/
.local/src/
.local/state/
.local/testfiles/
.local/torrent/
