audacity
bandwidth-groups.json
blender
.cache
cookie
current
custom.el
database
dconf
dht.dat
.dots
dunstrc.d
eln-cache
elpa
GIMP
gitlab*
*.gpg
.history
hub
inkscape
known_hosts
.local/share/calcurse
.local/share/fonts
.local/share/icons
.local/share/lf
.local/share/newsboat
.local/share/nvim
.local/share/task
.local/share/taskwarrior-tui
.local/share/vulkan
.local/share/xorg
.local/share/zathura
*log
menus
mozilla
nimble
password-store
pid
*pki
private-keys*
pubring*
queue.json
random_seed
sandbox-interactive_com-albiononline_1.desktop
Sandbox Interactive GmbH
shrc
Signal
*.sql
StardewValley
state
stats.json
.steam*
Steam
systemd
The Elder*
tree-sitter
wineprefixes
.Xauthority
*.xbel
.zcompdump
zplug
zshdirrc
